@import "../../../node_modules/hamburgers/dist/hamburgers.css";
@import "../../styles";
.header-holder{
  position: absolute;
  width: 100%;
  z-index: 4;
  &.is-active{
    z-index: 999;
  }
  .header{
    align-items: flex-end;
    justify-content: space-between;
    padding: 40px $wrapper;
    width: calc(100% - 60px);
    display: flex;
    .logo{
      cursor: pointer;
    }
    &.is-active{
      background: $navigation-background;
      justify-content: flex-end;
      img{
        display: none;
      }

      .hamburger-inner{
        background-color: #c5c5c5;

        &:before{
          background-color: #c5c5c5;

        }
        &:after{
          background-color: #c5c5c5;
        }
      }
    }
    .hamburger-inner{
      width: 35px;
      &:before{
        width: 35px;

      }
      &:after{
        width: 35px;
      }
    }
    .hamburger{
      display: flex;
      padding: 0;
    }
  }
  .navigation{
    background: $navigation-background;
    height: calc(100vh - 104px);
    display: none;
    &.is-active{
      display: block;
      position: relative;
    }
    ul{
      margin: 0;
      list-style: none;
      padding: 0;
      li{
        color: $navigation-gray;
        text-transform: uppercase;
        font-weight: bold;
        //border: 1px solid red;
        text-align: center;
        font-size: 1.4rem;
        padding: 10px 0;
        cursor: pointer;
        &:hover{
          color: $pink-color;
        }
      }
    }
    .line{
      background-color: $navigation-gray;
      height: 2px;
      width: 50px;
      margin: 20px auto 0 auto;
    }

  }
}
@include breakpoint(laptop) {
  .header-holder{
    .navigation{
      ul{
        li{
          font-size: 2.5rem;
          line-height: 2.8rem;
        }
      }
    }
  }
}
