<div class="header-holder">
  <div class="header" [ngClass]="navBurger ? 'is-active' : ''">
    <img src="../../assets/images/header/logo.png"  routerLink="" class="logo">
    <button class="hamburger hamburger--collapse"
            (click)="openBurger()" [ngClass]="navBurger ? 'is-active' : ''"
            type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
    </button>
  </div>
  <div class="navigation" [ngClass]="navBurger ? 'is-active' : ''">
    <ul>
      <li routerLink="" (click)="openBurger()">home</li>
      <li routerLink="/projects" (click)="openBurger()">projects</li>

      <li routerLink="/services" (click)="openBurger()">services</li>
      <li (click)="openBurger()" routerLink="/about-us">about</li>
      <li routerLink="/contact" (click)="openBurger()">contact</li>
    </ul>
    <div class="icons">
      <div class="icon fb"></div>
      <div class="icon insta"></div>
      <div class="icon blog"></div>
      <div class="icon twitter"></div>
    </div>
  </div>
</div>
