@import "../../../node_modules/hamburgers/dist/hamburgers.css";
@import "../../styles";
.header-holder{
  position: absolute;
  width: 100%;
  z-index: 1;
  .header{
    align-items: center;
    justify-content: space-between;
    padding: 40px $wrapper;
    width: calc(100% - 60px);
    display: flex;
    .logo{
      cursor: pointer;
    }
    &.is-active{
      background: $navigation-background;
      justify-content: flex-end;
      img{
        display: none;
      }
      .hamburger-inner{
        background-color: #c5c5c5;

        &:before{
          background-color: #c5c5c5;

        }
        &:after{
          background-color: #c5c5c5;
        }
      }
    }
    .hamburger{
      display: flex;
      padding: 0;
    }
  }
  .navigation{
    background: $navigation-background;
    height: calc(100vh - 104px);
    display: none;
    &.is-active{
      display: block;
    }
    ul{
      margin: 0;
      list-style: none;
      li{
        color: #c5c5c5;
        text-transform: uppercase;
        font-weight: bold;
        //border: 1px solid red;
        text-align: center;
        font-size: 1.8rem;
        padding: 10px 0;
        cursor: pointer;
      }
    }
    //icons
    .icons{
      //border: 1px solid red;
      display: flex;
      justify-content: center;
      padding-left: 55px;
      padding-top: 100px;
      .icon{
        height: 44px;
        width: 43px;
        background-repeat: no-repeat;
        cursor: pointer;
        margin-right: 15px;
        &.fb{
          background-image: url("../../assets/images/navigation/fb.png");
          &:hover{
            background-image: url("../../assets/images/navigation/fb_hover.png");
          }
        }
        &.insta{
          background-image: url("../../assets/images/navigation/insta.png");
          &:hover{
            background-image: url("../../assets/images/navigation/insta_hover.png");
          }
        }
        &.blog{
          background-image: url("../../assets/images/navigation/blog.png");
          &:hover{
            background-image: url("../../assets/images/navigation/blog_hover.png");
          }
        }
        &.twitter{
          background-image: url("../../assets/images/navigation/twitter.png");
          &:hover{
            background-image: url("../../assets/images/navigation/twitter_hover.png");
          }
        }
      }
    }
  }
}
