<div class="header-holder" #headerHolder
     *ngIf="isHomeLoaded && content">
  <!--[ngClass]="navBurger ? 'is-active' : ''"-->
  <div class="header" [ngClass]="navBurger ? 'is-active' : ''">
    <img src="../../assets/images/header/logo.png"  routerLink="" class="logo">
    <button class="hamburger hamburger--collapse"
            (click)="openBurger()" [ngClass]="navBurger ? 'is-active' : ''"
            type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
    </button>
  </div>
  <div class="navigation" [ngClass]="navBurger ? 'is-active' : ''">
    <ul>
      <li routerLink="" (click)="openBurger()">{{content['home']}}</li>
      <li routerLink="/projects" (click)="openBurger()">{{content['projects']}}</li>
      <li routerLink="/services" (click)="openBurger()">{{content['services']}}</li>
      <li routerLink="/about-us" (click)="openBurger()">{{content['about']}}</li>
      <li routerLink="/contact" (click)="openBurger()">{{content['contact']}}</li>
    </ul>
    <div class="line"></div>
    <div class="icons">
      <div class="icon fb" (click)="onNavigate('https://www.facebook.com/sevenamstudio/')"></div>
      <div class="icon insta" (click)="onNavigate('https://www.instagram.com/sevenamstudio/')"></div>
      <div class="icon blog" (click)="onNavigate('http://moresevenam.com')"></div>
      <div class="icon twitter" (click)="onNavigate('https://twitter.com/sevenam_studio')"></div>
      <div class="icon yt" (click)="onNavigate('https://www.youtube.com/watch?v=Yt3CyRBL_E8')"></div>
    </div>
  </div>
</div>
