<div class="spinner" *ngIf="isLoading"></div>

<div class="home-holder" *ngIf="!navBurger && !isLoading">
  <!--about section-->
  <div class="section home" routerLink="about-us"
       [ngStyle]="{'background-image': 'url(../../../assets/images/home/VIDEO.png)'}">
    <div class="footer" routerLink="about-us">
      <p>about us</p>
      <img src="../../../assets/images/home/light-arrow.png">
    </div>
  </div>
  <div class="right-elements">
    <!--products section-->
    <div class="products" id="products" routerLink="projects">
      <!--(@fade.done)="onDone($event)"-->
      <img [@fade]="state"  [src]="imgUrl" (@fade.done)="onDone($event)"  />
      <div class="footer">
        <p>projects</p>
        <img src="../../../assets/images/home/arrow.png">
      </div>
    </div>
    <!--services section-->
    <div class="section services" routerLink="services"
         [ngStyle]="{'background-image': 'url(../../../assets/images/home/yellow.jpg)'}">
      <div class="footer">
        <p>services</p>
        <img src="../../../assets/images/home/arrow.png">
      </div>
    </div>
  </div>

</div>



<img src="../../../assets/images/home/animated-box/booky.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/booky_logo.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/bug.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/letsgo.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/moha.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/moha_logo.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/numbers.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/otis.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/pieceofplant.jpg" style="display: none;" (load)="imgLoaded()"  >
<img src="../../../assets/images/home/animated-box/rowforwater.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/valentines.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/well.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/VIDEO.png" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/bookcover.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/esport.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/posterchallange.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/stpatrick.jpg" style="display: none;" (load)="imgLoaded()">
