@import "../../../styles";
.home-holder{
  .products {
    margin-top: -10px;
    cursor: pointer;
    img{
      max-width: 100%;
      max-height: 100%;
    }
    p{
      color: #000000;
    }
    background-color: #1d1d1d;
    position: relative;
    text-transform: uppercase;
    color: $home-light;
    font-weight: 300;
    .footer{
      position: absolute;
      display: flex;
      align-items: center;
      cursor: pointer;
      bottom: 0;
      width: 100%;
      justify-content: flex-end;
      padding-bottom: 20px;
      img{
        width: 20px;
        margin-left: 10px;
        margin-right: $wrapper;
      }
    }
  }
  .home{
    @extend .products;
    p{
      color: $home-light;
    }
  }
  .services{
    @extend .products;
  }
  //.section{
  //  position: relative;
  //  background-size: cover;
  //  background-repeat: no-repeat;
  //  cursor: pointer;
  //  width: 100%;
  //  height: 0;
  //  padding-top: 102%; /* (img-height / img-width * container-width) */
  //  &.home{
  //    padding: 0;
  //    .video{
  //      position: absolute;
  //      top: 0;
  //    }
  //  }
  //  &.services{
  //    padding-top: 87.53%; /* (img-height / img-width * container-width) */
  //    margin-top: -10px;
  //
  //  }
  //  img{
  //    max-width: 100%;
  //    max-height: 100%;
  //  }
  //  .footer{
  //    position: absolute;
  //    display: flex;
  //    align-items: center;
  //    cursor: pointer;
  //    bottom: 0;
  //    width: 100%;
  //    justify-content: flex-end;
  //    padding-bottom: 10px;
  //
  //    p{
  //      text-transform: uppercase;
  //      font-weight: 300;
  //      color: $home-light;
  //    }
  //    img{
  //      width: 20px;
  //      margin-left: 10px;
  //      margin-right: $wrapper;
  //    }
  //  }
  //  &.products, &.services{
  //    .footer{
  //      p{
  //        color: $home-dark;
  //      }
  //    }
  //  }
  //}
}

@include breakpoint(laptop) {
  .home-holder{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-height: 100vh;
    overflow: hidden;
    .section{
      &.home{
        margin-top: 0;
        height: 100vh;
        max-height: 100vh;
        width: 60%;
        //height: 100vh;
        .video{
          //width: 100%;
          //height: 100%;
        }
      }
    }
    .right-elements{
      width: 40%;
      height: 100vh;
      .services-holder{
        height: 50vh;
        display: flex;
        justify-content: center;
        background-color: #f7da3e;
        align-items: flex-end;
        img{
          max-height: 85%;
        }
      }
      .products{
        height: 50vh;
        margin-top: 0;
        .products-holder{
          @extend .services-holder;
          align-items: center;
          //background-image: url("../../../assets/images/home/animated-box/moha.jpg");
          background-size: contain;
          //background-color: #eeeeee;
        }


      }

      .services{
        margin-top: 0;

      }

    }

  }

}
