@import "../../../styles";

.projects-holder{
  .test{
    position: absolute;
    color: yellow;
    z-index: 9;

  }
  padding: 100px  0 0 0;
  ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 0.60rem;
    padding: 0 $wrapper;
    li{
      cursor: pointer;
      text-transform: uppercase;
    }
  }
  .image-holder{
    display: flex;
    flex-direction: column;
    position: relative;
    img{
      transition: all .2s ease-in-out;
      max-width: 100%;
      max-height: 100%;
      transform: scale(0);

      &.show{
        transform: scale(1);
      }
    }
  }

}
