@import "../../../styles";

.projects-holder{

  .cover{
    //height: 6000px;
    max-height: 6000px;
    width: 100%;
    background-color: white;
    z-index: 1;
    position: absolute;
    &.active{
      background-color: rgba(255, 0, 0, 0.0);
      transition: all 1s ease-in-out;

    }
  }

  padding: 100px  0 0 0;
  ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 0.50rem;
    padding: 0 $wrapper;
    li{
      z-index: 6;
      cursor: pointer;
      text-transform: uppercase;
      &.nav{
        //width: 100%;
        //text-align: center;
      }
    }
  }
  .image-holder{
    display: flex;
    align-items: center;
    flex-direction: column;
    .image-container{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 0;
      opacity: 0;
      transition: opacity .5s, height 1s, width 1s;
      height: 300px;
      cursor: pointer;


      img{
        transition: max-height 1s;

        max-height: 100%;
        max-width: 100%;
      }

      &.show{
        max-height: 1400px;
        opacity: 1;
        transition: opacity .5s, height 1s, width 1s;
        //transition: opacity 1s ease-in-out;
      }
      &.hide{
        opacity: 0;
        transition: opacity .5s;
        max-height: 1400px;
      }

      &.bookcover{
        background: #eeeeee;
        img{
          max-height: 70%;
        }
      }
      &.posterchallange{
        background: #f57bae;
        img{
          //max-height: 80%;
        }
      }
      &.pieceofplant {
        background: #fae4f9;
        img{
          //max-height: 40%;
        }
      }
      &.otis {
        background: #dbdbdb;
        img {
          //max-height: 60%;
        }
      }
      &.booky {
        background: #f2f2f2;
        img{
          max-height: 30%;
        }
      }
      &.valentines {
        background: #ededed;
        img{
          //max-height: 80%;
        }
      }
      &.letsgo{
        background: #efefef;
        img{
          max-height: 50%;
        }
      }
      &.bug{
        background: #323232;
        img {
          //max-height: 60%;
        }

      }
      &.rowforwater{
        background: #f4f4f4;
        img{
          //max-height: 40%;
        }
      }
      &.stpatrick{
        background: #eaeaea;
        img{
          max-height: 60%;
        }
      }
      &.esport{
        background: #e8e8e8;
        img {
          //max-height: 20%;
        }
      }
      &.well{
        background: #262626;

      }
      &.geometry{
        background: #fffefb;
        img{
          //max-height: 62%;
        }
      }
      &.webBug{
        background: #323232;
        justify-content: flex-end;

        img {
          max-height: 15%;
        }
      }
      &.mohaLogo{
        background-size: contain;
        background-image: url("../../../assets/images/home/animated-box/moha.jpg");
        img{
          //max-height: 30%;
        }

      }
      &.bookyWeb{
        background: #e8e1da;
        img{
          //max-height: 70%;
        }
      }
      &.mohaVisual{
        background: #f9efdc;
        img{
          margin-right: 50px;
          //max-height: 70%;
          margin-top: 40px;
        }
      }
      &.leaf{
        background: #fce7fa;
        img{
          //max-height: 52%;
        }
      }
      &.drunken{
        background: #e7cfb5;


      }
    }
  }
}
// only small for iphone 5
@media (max-width: 22em) {
  .projects-holder {
    ul{
      font-size: 0.4rem;
    }
  }
}
@include breakpoint(laptop) {
  .projects-holder{
    padding-top: 0;
    margin-top: 30px;
    //overflow: hidden;

    ul{
      max-width: 480px;
      margin-top: -41px;
      margin-left: 110px;
      font-size: 0.75rem;
      padding-top: 60px;
      margin-bottom: 40px;
    }
    .images-wrapper{
      overflow: hidden;
    }
    .image-holder{
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      width: calc(100vw + 12px);

      .image-container{
        height: calc(50vh - 35px);
        width: calc(100vw/3);
        display: flex;
        justify-content: center;
        align-items: center;

        &.posterchallange{
          //&.hover{
          //  width: 40%;
          //  height: calc(70vh - 35px);
          //  transition: opacity .5s, height 1s, width 1s;
          //}
        }
        &.letsgo{
          background: #fbfbfb;

          //&.hover{
          //  height: calc(70vh - 35px);
          //  width: 30%;
          //}

          img{
            max-height: 64%;
          }
        }
        &.mohaLogo{
          background-size: contain;

          //&.hover{
          //  height: calc(70vh - 35px);
          //  width: 30%;
          //}
          background-image: url("../../../assets/images/home/animated-box/moha.jpg");
          img{
            max-height: 30%;
          }

        }
        img{
          max-width: 100%;
          max-height: 100%;

        }

        //border: 1px solid red;
      }
      }
    }

}
