<div class="container-loading" *ngIf="isLoading">
  <span class="load" ></span>
  <p>loading</p>
</div>
<div class="projects-holder" *ngIf="!isLoading">
  <!--<p (click)="setFilter('off')">fade out {{filter}}</p>-->

  <ul>
    <li class="nav" [ngClass]="{'pink' : filter ==='all'}"
        (click)="setFilter('all')">all</li>
    <li>|</li>
    <li class="nav"  [ngClass]="{'pink' : filter ==='website'}"
        (click)="setFilter('website')">Website</li>
    <li>|</li>
    <li class="nav"  [ngClass]="{'pink' : filter ==='visual'}"
        (click)="setFilter('visual')">Visual identity</li>
    <li>|</li>
    <li class="nav" [ngClass]="{'pink' : filter ==='logos'}"
        (click)="setFilter('logos')">logos</li>
    <li>|</li>
    <li class="nav"  [ngClass]="{'pink' : filter ==='print'}"
        (click)="setFilter('print')">Print</li>
    <li>|</li>
    <li class="nav"  [ngClass]="{'pink' : filter ==='games'}"
        (click)="setFilter('games')">Games</li>
  </ul>
  <div class="images-wrapper">
    <div class="image-holder" id="image-holder">
      <div class="cover" [ngClass]="{'active': enableAnimation}">

      </div>

      <!--[ngClass]="(filter ==='print' || filter ==='all') ? 'show' : 'hide'"-->
      <!--print-->
      <div class="image-container posterchallange"
           (mouseover)="hover('posterchallange')"
           (mouseleave)="hoverLeave()"
           [ngClass]="{'show' : (filter ==='print' || filter ==='all'),
         'hide' : (filter !=='print' && filter !=='all'),
         'hover': projectHover}">
        <img src="../../../assets/images/home/animated-box/posterchallange.jpg"
             class="projectImage">
      </div>
      <!--logo-->
      <div class="image-container moha_visual"
           (mouseover)="hover('moha_visual')"
           (mouseleave)="hoverLeave()"
           [ngClass]="{'show' : (filter ==='visual' || filter ==='all'),
         'hide' : (filter !=='visual' && filter !=='all'),
         'hover': projectHover}">
        <img src="../../../assets/images/home/animated-box/moha_logo.png"
             class="projectImage">
      </div>

      <!--logo-->
      <div class="image-container esport"
           (mouseover)="hover('esport')"
           (mouseleave)="hoverLeave()"
           [ngClass]="(filter ==='logos' || filter ==='all') ? 'show' : 'hide'">
        <img src="../../../assets/images/home/animated-box/esport.png"
             class="projectImage">
      </div>

      <!--print-->
      <div class="image-container otis"
           (mouseover)="hover('otis')"
           (mouseleave)="hoverLeave()"
           [ngClass]="(filter ==='print' || filter ==='all') ? 'show' : 'hide'">
        <img src="../../../assets/images/home/animated-box/otis.png"
             class="projectImage">
      </div>

      <!--print-->
      <div class="image-container well"
           (mouseover)="hover('well')"
           (mouseleave)="hoverLeave()"
           [ngClass]="(filter ==='print' || filter ==='all') ? 'show' : 'hide'">
        <img src="../../../assets/images/home/animated-box/well.png"
             class="projectImage">
      </div>

      <!--website-->
      <div class="image-container pieceofplant"
           (mouseover)="hover('pieceofplant')"
           (mouseleave)="hoverLeave()"
           [ngClass]="(filter ==='website' || filter ==='all') ? 'show' : 'hide'"
           (mouseover)="hover(4)">
        <img src="../../../assets/images/home/animated-box/pieceofplant.png"
             class="projectImage">
      </div>

      <!--logos-->
      <div class="image-container bug"
           (mouseover)="hover('bug')"
           (mouseleave)="hoverLeave()"
           [ngClass]="(filter ==='logos' || filter ==='all') ? 'show' : 'hide'">
        <img src="../../../assets/images/home/animated-box/bug.png"
             class="projectImage">
      </div>

      <div class="image-container moha_logo"
           (mouseover)="hover('moha_logo')"
           (mouseleave)="hoverLeave()"
           [ngClass]="{'show' : (filter ==='logos' || filter ==='all'),
         'hide' : (filter !=='logos' && filter !=='all'),
         'hover': projectHover}">
        <img src="../../../assets/images/home/animated-box/moha_logo.png"
             class="projectImage">
      </div>

      <!--logos-->
      <div class="image-container rowforwater"
           (mouseover)="hover('rowforwater')"
           (mouseleave)="hoverLeave()"
           [ngClass]="(filter ==='logos' || filter ==='all') ? 'show' : 'hide'">
        <img src="../../../assets/images/home/animated-box/rowforwater.png"
             class="projectImage">
      </div>
      <!--games-->
      <div class="image-container valentines"
           (mouseover)="hover('valentines')"
           (mouseleave)="hoverLeave()"
           [ngClass]="(filter ==='games' || filter ==='all') ? 'show' : 'hide'">
        <img src="../../../assets/images/home/animated-box/valentines.png"
             class="projectImage">
      </div>

      <div class="image-container webBug"
           (mouseover)="hover('webBug')"
           (mouseleave)="hoverLeave()"
           [ngClass]="(filter ==='website' || filter ==='all') ? 'show' : 'hide'">
        <img src="../../../assets/images/home/animated-box/webBug.png"
             class="projectImage">
      </div>

      <!--print-->
      <div class="image-container bookcover"
           (mouseover)="hover('bookcover')"
           (mouseleave)="hoverLeave()"
           [ngClass]="(filter ==='print' || filter ==='all') ? 'show' : 'hide'">
        <img src="../../../assets/images/home/animated-box/bookcover.png"
             class="projectImage">
      </div>

      <div class="image-container letsgo"
           (mouseover)="hover('letsgo')"
           (mouseleave)="hoverLeave()"
           [ngClass]="{'show' : (filter ==='print' || filter ==='all'),
         'hide' : (filter !=='print' && filter !=='all'),
         'hover': projectHover}">
        <img src="../../../assets/images/home/animated-box/letsgo.png"
             class="projectImage">
      </div>

      <div class="image-container stpatrick"
           (mouseover)="hover('stpatrick')"
           (mouseleave)="hoverLeave()"
           [ngClass]="(filter ==='games' || filter ==='all') ? 'show' : 'hide'">
        <!--logo-->
        <img src="../../../assets/images/home/animated-box/stpatrick.png"
             class="projectImage">
      </div>
      <!--website-->
      <div class="image-container booky"
           (mouseover)="hover('booky')"
           (mouseleave)="hoverLeave()"
           [ngClass]="(filter ==='logos' || filter ==='all') ? 'show' : 'hide'">
        <img src="../../../assets/images/home/animated-box/booky.png"
             class="projectImage">
      </div>

      <!--print-->
      <div class="image-container geometry"
           (mouseover)="hover('geometry')"
           (mouseleave)="hoverLeave()"
           [ngClass]="(filter ==='print' || filter ==='all') ? 'show' : 'hide'">
        <img src="../../../assets/images/home/animated-box/geomerty.png"
             class="projectImage">
      </div>


    </div>
  </div>


</div>
<img src="../../../assets/images/home/animated-box/booky.png" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/booky_logo.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/bug.png" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/letsgo.png" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/moha.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/moha_logo.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/numbers.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/otis.png" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/pieceofplant.png" style="display: none;" (load)="imgLoaded()"  >
<img src="../../../assets/images/home/animated-box/rowforwater.png" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/valentines.png" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/well.png" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/VIDEO.png" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/yellow.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/bookcover.png" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/esport.png" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/posterchallange.jpg" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/stpatrick.png" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/webBug.png" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/geomerty.png" style="display: none;" (load)="imgLoaded()">
<img src="../../../assets/images/home/animated-box/geomerty.png" style="display: none;" (load)="imgLoaded()">
