<div class="contact-holder" *ngIf="content">
  <div class="contact" [ngClass]="{'processing': isProcessing}">
    <img src="../../../assets/images/contact/spinacz_one.png" class="spinacz one">
    <img src="../../../assets/images/contact/spinacz_two.png" class="spinacz two">
    <img src="../../../assets/images/contact/spinacz_three.png" class="spinacz three">
    <img src="../../../assets/images/contact/spinacz_four.png" class="spinacz four">

    <!--form holder-->
        <div class="spinner spinner-contact" *ngIf="isProcessing"></div>

        <div *ngIf="!isProcessing && !isSent && !isError" class="text-holder">
          <h1>{{content['hello']}}</h1>
          <h3>{{content['businessandcoffee']}}</h3>
        </div>

        <div *ngIf="!isProcessing && isError" class="text-holder error">
          <h1>{{content['ups']}}</h1>
          <h3>{{content['tryagain']}}
            <span class="bold pink" (click)="reset()">{{content['here']}}</span>{{content['or on our']}}
            <span class="bold pink" (click)="openChat()">{{content['chat.']}}</span></h3>
        </div>

        <div *ngIf="!isProcessing && isSent" class="confirm">
          <h1>{{content['thankyou']}}</h1>
          <h3>{{content['getbackasap']}}</h3>
          <h3>{{content['more']}}
            <span class="bold pink"
                  (click)="onNavigate('https://www.facebook.com/sevenamstudio/')">{{content['Facebook']}}</span>
            <span class="bold pink"
                  (click)="onNavigate('https://www.instagram.com/sevenamstudio/')">{{content['insta']}} </span></h3>

        </div>

          <div class="form" *ngIf="!isProcessing && !isSent && !isError">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmitForm()">
              <input formControlName="name" type="text" placeholder="name"
                     [class.input-error]="nameControl.errors && nameControl.touched">
              <div *ngIf="nameControl.errors && nameControl.touched">
                <p *ngIf="nameControl.errors.required">{{content['name']}}</p>
                <p *ngIf="nameControl.errors.minlength">{{content['name-number']}}
                  {{nameControl.errors.minlength.requiredLength}} {{content['characters.']}} </p>
              </div>
              <input formControlName="email" class="mail" type="email" placeholder="email">
              <div *ngIf="emailControl.errors && emailControl.touched">
                <p *ngIf="emailControl.errors.required">{{content['email']}}</p>
                <p *ngIf="emailControl.errors.pattern">{{content['email-correct']}}</p>
              </div>
              <textarea formControlName="message" autosize
                        rows="1" type="text" placeholder="message">
          </textarea>
              <div *ngIf="messageControl.errors && messageControl.touched">
                <p *ngIf="messageControl.errors.required">{{content['message']}}</p>
                <p *ngIf="messageControl.errors.minlength">{{content['message-number']}}
                  {{messageControl.errors.minlength.requiredLength}} {{content['characters-two']}}</p>
              </div>
              <button type="submit" class="button" >{{content['send']}}</button>
              <!--[disabled]="!contactForm.valid"-->
            </form>
          </div>

      <div class="contact-footer" [ngClass]="{'isSent' : isSent || isError, 'processing': isProcessing}">
        <div class="contact-footer-inner">
          <h1>Info</h1>
          <p class="bold amparagraph">{{content['sevenam']}}</p>
          <p> {{content['Telephone:']}}<span class="bold">{{content['phone']}}</span></p>
          <p>{{content['Email:']}} <span class="bold">{{content['our-email']}}</span></p>
          <!--image holder-->
          <div class="contact--footer--text--socialMedia">
            <a  target="_blank" href="https://www.facebook.com/sevenamstudio" class="logo-margin">
              <div class="social-icon facebook"> </div>
            </a>
            <a target="_blank" href="https://www.instagram.com/sevenamstudio/">
              <div class="social-icon instagram"></div>
            </a>
          </div>
        </div>
        <div class="icons icons-contact" (click)="yo()">
          <div class="icon fb" (click)="onNavigate('https://www.facebook.com/sevenamstudio/')"></div>
          <div class="icon insta" (click)="onNavigate('https://www.instagram.com/sevenamstudio/')"></div>
          <div class="icon blog" (click)="onNavigate('http://moresevenam.com')"></div>
          <div class="icon twitter" (click)="onNavigate('https://twitter.com/sevenam_studio')"></div>
          <div class="icon yt" (click)="onNavigate('https://www.youtube.com/watch?v=Yt3CyRBL_E8')"></div>
        </div>
      </div>
    </div>
</div>
