<div class="contact-holder">
  <div class="contact" [ngClass]="{'processing': isProcessing}">
    <img src="../../../assets/images/contact/spinacz_one.png" class="spinacz one">
    <img src="../../../assets/images/contact/spinacz_two.png" class="spinacz two">
    <img src="../../../assets/images/contact/spinacz_three.png" class="spinacz three">
    <img src="../../../assets/images/contact/spinacz_four.png" class="spinacz four">

    <!--form holder-->
        <div class="spinner spinner-contact" *ngIf="isProcessing"></div>

        <div *ngIf="!isProcessing && !isSent && !isError" class="text-holder">
          <h1>Say Hello!</h1>
          <h3>For business and coffee, please ask here:</h3>
        </div>

        <div *ngIf="!isProcessing && isError" class="text-holder">
          <h1>Ups, something went wrong!</h1>
          <h3>Please try again
            <span class="bold pink" (click)="reset()">here</span> or on our
            <span class="bold pink" (click)="openChat()">chat.</span></h3>
        </div>

        <div *ngIf="!isProcessing && isSent" class="confirm">
          <h1>Thank you!</h1>
          <h3>We will get back to you as soon as possible </h3>
          <h3>Want more? Check out our
            <span class="bold pink"
                  (click)="onNavigate('https://www.facebook.com/sevenamstudio/')">Facebook</span>
            <span class="bold pink"
                  (click)="onNavigate('https://www.instagram.com/sevenamstudio/')"> & Instagram.</span></h3>

        </div>

          <div class="form" *ngIf="!isProcessing && !isSent && !isError">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmitForm()">
              <input formControlName="name" type="text" placeholder="name"
                     [class.input-error]="nameControl.errors && nameControl.touched">
              <div *ngIf="nameControl.errors && nameControl.touched">
                <p *ngIf="nameControl.errors.required">name is required</p>
                <p *ngIf="nameControl.errors.minlength">Name should be at least
                  {{nameControl.errors.minlength.requiredLength}} characters.</p>
              </div>
              <input formControlName="email" class="mail" type="email" placeholder="email">
              <div *ngIf="emailControl.errors && emailControl.touched">
                <p *ngIf="emailControl.errors.required">Email is required.</p>
                <p *ngIf="emailControl.errors.pattern">Please insert correct email.</p>
              </div>
              <textarea formControlName="message" autosize
                        rows="1" type="text" placeholder="message">
          </textarea>
              <div *ngIf="messageControl.errors && messageControl.touched">
                <p *ngIf="messageControl.errors.required">Message is required.</p>
                <p *ngIf="messageControl.errors.minlength">Message should be at least
                  {{messageControl.errors.minlength.requiredLength}} characters.</p>
              </div>
              <button type="submit" class="button" >send</button>
              <!--[disabled]="!contactForm.valid"-->
            </form>
          </div>

      <div class="contact-footer" [ngClass]="{'isSent' : isSent || isError, 'processing': isProcessing}">
        <div class="contact-footer-inner">
          <h1>Info</h1>
          <p class="bold amparagraph">Sevenam design studio</p>
          <p>Telephone: <span class="bold">91 82 78 16, 52 22 00 49</span></p>
          <p>Email: <span class="bold">info@sevenamstudio.com</span></p>
          <!--image holder-->
          <div class="contact--footer--text--socialMedia">
            <a  target="_blank" href="https://www.facebook.com/sevenamstudio" class="logo-margin">
              <div class="social-icon facebook"> </div>
            </a>
            <a target="_blank" href="https://www.instagram.com/sevenamstudio/">
              <div class="social-icon instagram"></div>
            </a>
          </div>
        </div>
        <div class="icons icons-contact" (click)="yo()">
          <div class="icon fb" (click)="onNavigate('https://www.facebook.com/sevenamstudio/')"></div>
          <div class="icon insta" (click)="onNavigate('https://www.instagram.com/sevenamstudio/')"></div>
          <div class="icon blog" (click)="onNavigate('http://moresevenam.com')"></div>
          <div class="icon twitter" (click)="onNavigate('https://twitter.com/sevenam_studio')"></div>
          <div class="icon yt" (click)="onNavigate('https://www.youtube.com/watch?v=Yt3CyRBL_E8')"></div>
        </div>
      </div>
    </div>
</div>
